# fly.toml app configuration file generated for neil-vector on 2023-12-06T10:25:00-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "neil-vector"
primary_region = "iad"

[build]
image = "timberio/vector:latest-debian"

[http_service]
force_https = true
internal_port = 8080
min_machines_running = 1
processes = ["app"]

[env]
PORT = 8080

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 256

[[files]]
guest_path = "/etc/vector/vector.yaml"
local_path = "vector.yaml"
